<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản Lý</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Quản Lý Hệ Thống</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Trang chủ</a></li>
                <li><a href="{{ url_for('danh_sach_dat_lich') }}">Danh sách đặt lịch</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
